{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="text-lg">Inscription</h1>
	<section class="w-full flex justify-center">

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm, {"attr":{"class":"w-[30%] flex flex-col"}}) }}
		<div class="flex flex-row mb-5">
			{{ form_widget(registrationForm.email, {"attr":{"class":"w-full"}}) }}
			{{ form_widget(registrationForm.pseudo, {"attr":{"class":"w-full"}}) }}
		</div>
		<div class="flex flex-row">
			{{ form_widget(registrationForm.plainPassword.first, {
            label: 'Password', "attr":{"class":"w-full"}
        }) }}
			{{ form_widget(registrationForm.plainPassword.second, {
            label: 'Password', "attr":{"class":"w-full"}
        }) }}
		</div>
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Register</button>
		{{ form_end(registrationForm) }}
	</section>
{% endblock %}
